Source: kernel-cubox-i
Section: unknown
Priority: extra
Maintainer: Josua Mayer <privacy@not.given>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.3
Homepage: <insert the upstream URL, if relevant>
#Vcs-Git: git://git.debian.org/collab-maint/kernel-cubox-i.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/kernel-cubox-i.git;a=summary

Package: kernel-cubox-i
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
